# Django
*.pyc
__pycache__/
db.sqlite3
db_dev.sqlite3
db_new.sqlite3
.env

venv/
.venv/
env/

# Next.js
.next/
out/
node_modules/

# Vercel
.vercel

# General
.DS_Store
.env.local
.AGENTS.md
AGENTS.md
app/backend/env/
DESIGN.md

